.container {
    max-width: var(--max-width);
    padding-inline: calc(var(--size) * 4);
    margin-inline: auto;
}

.flexbox {
    display: flex;
}


.flexbox--centered-spaced {
    align-items: center;
    justify-content: center;
}

.flexbox--centered-spacing {
    align-items: center;
    justify-content: space-between;
}

.flexbox--responsive {
    flex-direction: column;

    @media (width >=768px) {
    flex-direction: row;
    }
}

.g-layout {
    display: grid;
}

.g-layout--center {
    display: grid;
    place-items: center;
    place-content: center;
}

@media (width >= 768px) {
    .md\:g-layout--1fr-1fr {
    grid-template-columns: 1fr 1fr;
    }
}


.g-layout--center2 {
    display: grid;
    place-content: center;
}

.g-layout--auto-fit-columns {
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--size) * 60), 1fr));
}

.g-layout--auto-fit-columns-lg {
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--size) * 80), 1fr));
}

.chart-pie{
    position:relative;
    height:15rem;
    width:100%}
    @media (min-width:768px)
{
    .chart-pie{
        height:calc(20rem - 43px)}
}

.a-items-start {
    align-items: flex-start;
}

.a-items-end {
    align-items: flex-end;
}